:root{
    --largpadrao: 90px;
    --altpadrao: 90px;
}

.caixa{
    width: max-content;
    background-color: cornsilk;
    border: 1px solid gray;
}

.subcaixa{
    display: grid;
    grid-template-columns: var(--largpadrao) calc(var(--largpadrao) * 1.444);
}

.caixafoto{
    background-color: darksalmon;
    height: var(--altpadrao);
}

.caixatexto{
    height: var(--altpadrao);
}

.titulocaixa{
    line-height: calc(var(--altpadrao) / 2.25);
    background-color:aquamarine;
    text-align: center;
}
